* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

ul,
input,
button {
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

:root {
  --light-gray: #dddddd;
}
