* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

ul,
input,
button {
  padding: 0;
  border: none;
}

input:focus {
  outline: none;
}

li {
  list-style: none;
}

:root {
  --white: #FFFFFF;
  --light-gray: #DDDDDD;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
